@import "../../styles/variables";

.wrapper {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000049;

  .loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid $--textColor;
    border-top-color: $--primaryColor;
    animation: spin infinite 2s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
