@import "../../styles/variables";

.roomspage-container {
  max-width: 1200px;
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;

  .categories {
    display: flex;
    gap: 10px;
    align-items: center;

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 10px;
      border-radius: 5px;
      color: $--textColor;

      &.active {
        background-color: $--primaryColor;
        color: #ffffff;
      }

      &:hover:not(.active) {
        background-color: rgb(239, 240, 240);
      }
    }
  }

  .rooms {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
