@import "../../styles/variables";

main {
  .bg-div {
    width: 100%;
    height: 60vh;
    background: url("../../assets/images/slide-bg.jpg") center / cover no-repeat;
    text-align: center;
    display: flex;
    align-items: start;
    color: #ffffff;

    .text-wrapper {
      margin-left: 50%;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      a {
        margin-top: 30px;
        color: #ffffff;
        background-color: $--primaryColor;
        display: inline-block;
        width: fit-content;
        padding: 12px;
        border-radius: 10px;
        transition: all 0.3s ease;

        &:hover {
          background-color: transparent;
          border: 1px solid $--primaryColor;
        }
      }
    }

    h1 {
      &::after {
        content: "☆☆☆☆☆";
      }
      &::before {
        content: "☆☆☆☆☆";
      }
    }
  }

  .guestfav-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 0px;
    h3 {
      position: relative;
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
      font-size: 30px;
      color: $--textColor;
      font-weight: bold;
      text-align: center;

      span {
        background-color: #ffffff;
        padding: 5px;
        position: relative;
        z-index: 2;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: $--secondaryTextColor;
        z-index: 1;
        transform: translateY(-50%);
      }
    }

    .guestfavs {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      gap: 40px;
    }
  }
}
